version: "3.9"

services:
  api:
    build: .
    container_name: smart_fridge_api
    environment:
      - FLASK_APP=app:create_app
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5000
    ports:
      - "5000:5000"
    networks:
      - app_network

  prometheus:
    image: prom/prometheus:latest
    container_name: smart_fridge_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - app_network
    depends_on:
      - api

  grafana:
    image: grafana/grafana:latest
    container_name: smart_fridge_grafana
    ports:
      - "3000:3000"
    networks:
      - app_network
    depends_on:
      - prometheus

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    container_name: smart_fridge_elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - app_network

  logstash:
    image: docker.elastic.co/logstash/logstash:7.17.0
    container_name: smart_fridge_logstash
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5050:5000"
    networks:
      - app_network
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.0
    container_name: smart_fridge_kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    networks:
      - app_network
    depends_on:
      - elasticsearch

networks:
  app_network:
    driver: bridge
