version: "3.9"

services:
  api:
    build: .
    container_name: smart_fridge_api
    environment:
      - FLASK_APP=app:create_app
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5000
    ports:
      - "5000:5000"
    networks:
      - app_network

  prometheus:
    image: prom/prometheus:latest
    container_name: smart_fridge_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - app_network
    depends_on:
      - api

  grafana:
    image: grafana/grafana:latest
    container_name: smart_fridge_grafana
    ports:
      - "3000:3000"
    networks:
      - app_network
    depends_on:
      - prometheus

networks:
  app_network:
    driver: bridge
